@{
    ViewData["Title"] = "Denied Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert alert-danger" role="alert">Access Denied</h1>

<h3 class="alert alert-danger" role="alert">You are not permitted to access this page</h3>