@model DealerPeak.Models.Vehicle

@{
    ViewData["Title"] = "Add/Edit Vehicle";
}

<h1>@ViewData["action"]</h1>

<h4>Vehicle</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="EditVehicle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VehicleId" />
            <div class="form-group row">
                <div class="col-xl">
                    <label asp-for="VehicleName" class="control-label"></label>
                    <input asp-for="VehicleName" class="form-control" />
                    <span asp-validation-for="VehicleName" class="text-danger"></span>
                </div>
                <div class="col-xl">
                    <label asp-for="VehicleType" class="control-label"></label>
                    <select asp-for="VehicleType" class="form-control" name="VehicleType">
                        <option value="Car" selected>Car</option>
                        <option value="Truck">Truck</option>
                        <option value="Bicycle">Bicycle</option>
                        <option value="Bike">Bike</option>
                    </select>
                    <span asp-validation-for="VehicleType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl">
                    <label asp-for="VehicleModel" class="control-label"></label>
                    <input asp-for="VehicleModel" class="form-control" />
                    <span asp-validation-for="VehicleModel" class="text-danger"></span>
                </div>
                <div class="col-xl">
                    <label asp-for="VehicleMakeYear" class="control-label"></label>
                    <input asp-for="VehicleMakeYear" class="form-control" />
                    <span asp-validation-for="VehicleMakeYear" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl">
                    <label asp-for="VehiclePrice" class="control-label"></label>
                    <input asp-for="VehiclePrice" class="form-control" />
                    <span asp-validation-for="VehiclePrice" class="text-danger"></span>
                </div>
                <div class="col-xl">
                    <label asp-for="Vin" class="control-label"></label>
                     @{
                        if (Convert.ToString(ViewData["action"]) == "AddVehicle")
                        {
                            <input asp-for="Vin" class="form-control" />
                        } else {
                            <input asp-for="Vin" class="form-control" readonly/>
                        }
                      }
                    <span asp-validation-for="Vin" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl">
                    <label asp-for="NewVehicle" class="control-label"></label>
                    <select asp-for="NewVehicle" class="form-control" name="NewVehicle">
                        <option value="true" selected>New</option>
                        <option value="false">Used</option>
                    </select>
                    <span asp-validation-for="NewVehicle" class="text-danger"></span>
                </div>  
            </div>
            <div class="form-group row">
                <div class="col-xl">
                    @{
                        if (Convert.ToString(ViewData["action"]) == "AddVehicle")
                        {
                                <input type="submit" value="Add" class="btn btn-primary" />
                        }
                        else
                        {
                                <input type="submit" value="Edit" class="btn btn-primary" />
                        }
                    }
                </div>
                <div class="col-xl">
                    <input type="reset" value="Reset" class="btn btn-secondary" />
                </div>
                <input asp-for="PageMode" class="form-control" type="hidden" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index" asp-controller="Vehicle">Back to Vehicle List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
