@model DealerPeak.Models.Dealer

@{
    ViewData["Title"] = "DeleteDealer";
}

<h1>Delete Dealer</h1>
<br/>
<div>
    <hr />
    <h3>Are you sure to delete <span class="btn-warning">@Html.DisplayFor(model => model.DealerName)</span>?</h3>
    <br/>
    <form asp-action="DeleteDealer" method="post">
        <input type="hidden" asp-for="DealerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Back to Dealer List</a>
    </form>
</div>
